// Colores
$primary: hsl(354, 82%, 61%);
$secondary: hsl(354, 82%, 85%);
$info: rgb(6, 73, 249);
$light: #F3ECE2;
$card-cap-bg: rgba(#F3ECE2, .2);

$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$container-max-widths: (sm: 576px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
);

$spacer: 1rem;
$spacers: (0: 0,
    1: $spacer / 4,
    2: $spacer / 2,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 3.5,
    7: $spacer * 4,
    8: $spacer * 4.5,
    9: $spacer * 5,
    10: $spacer * 5.5,
    11: $spacer * 6,
    12: $spacer * 6.5,
    13: $spacer * 7,
    14: $spacer * 7.5,
    15: $spacer * 8,
    16: $spacer * 8.5,
);